<%- include('../layouts/cabecera.ejs') %>


    <br>
    <%- include('../partials/errors.ejs') %>

    <div class="container mt-4">
        <a href="/libros/crear" class="btn btn-primary" type="button">Crear un nuevo libro</a>
        <br><br>
        <table class="table table-light">
            <thead class="thead-light">
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Imagen</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <% for (let libro = 0; libro < libros.length; libro++) { %>
                    <tr>
                        <td>
                            <%= libros[libro].id %>
                        </td>

                        <td>
                            <%= libros[libro].nombre %>
                        </td>

                        <td>
                            <img class="img-thumbnail" width="100" src="imagenes/<%= libros[libro].imagen %>" alt="">

                        </td>

                        <td>
                            <div class="btn-group-vertical" role="group" aria-label="vertcal button group">
                                <form class="from-inline" method="get"
                                    action="/libros/editar/<%= libros[libro].id %> ">
                                    <button class="btn btn-warning" type="submit">Editar</button>
                                </form>
                            </div>

                            |

                            <div class="btn-group-vertical" role="group" aria-label="vertcal button group">
                                <form class="from-inline" method="post"
                                    action="/libros/eliminar/<%= libros[libro].id %> ">
                                    <button class="btn btn-danger" type="submit">Borrar</button>
                                </form>
                            </div>

                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </div>

    <%- include('../layouts/pie.ejs') %>